@page "{resId:int}"
@model MessageBoard.Pages.Post.CommentModel
@{
    ViewData["Title"] = "Comment";
}


<form method="post" action="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Id:@Model.postMessage.Id</h3>
        </div>
        <div class="panel-body">
            <span>Message:@Model.postMessage.Message</span>

        </div>
        <div class="panel-body">



            <div class="form-group">
                <label asp-for="@Model.commentMessage.Comment">Comment:</label>
                <input asp-for="@Model.commentMessage.Comment" autocomplete="off" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.commentMessage.Comment">Comment is required</span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    
</form>
