@page
@model MessageBoard.Pages.Shared.Post.ListModel
@{
    ViewData["Title"] = "List";
}


<h2>Message Board</h2>
@foreach (var x in Model.PostMessage)
{
    <partial name="_summary" model="x" />
}

<a asp-page="./Edit" class="btn btn-primary">Add New Post</a>
